<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtj.dao.SysIdentifyResourceMapper">
  <resultMap id="BaseResultMap" type="com.jtj.model.SysIdentifyResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corporate_identify" jdbcType="VARCHAR" property="corporateIdentify" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_identify_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jtj.model.SysIdentifyResource">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_identify_resource (id, corporate_identify, resource_id, 
      status, create_time, update_time, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{corporateIdentify,jdbcType=VARCHAR}, #{resourceId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jtj.model.SysIdentifyResource">
    update sys_identify_resource
    set corporate_identify = #{corporateIdentify,jdbcType=VARCHAR},
      resource_id = #{resourceId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, corporate_identify, resource_id, status, create_time, update_time, remark
    from sys_identify_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, corporate_identify, resource_id, status, create_time, update_time, remark
    from sys_identify_resource
  </select>
</mapper>