<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtj.mapper.UserMapper">
    <insert id="insertUser">
        insert into test.user(name,pwd,perms,salt_value) values(#{name},#{pwd},#{perms},#{saltValue})
    </insert>

    <select id="queryUserByName" resultType="com.jtj.pojo.User" >
        <!--查询操作-->
        select * from test.user where name = #{name}
    </select>
</mapper>